.carousel__container {
    margin-block: 5vh;
    margin-inline: auto;
}

.carousel {
    position: relative;
    width: calc(3rem + 35vw);
    max-width: 800px;
    min-width: 280px;
    aspect-ratio: 1;
    margin: 0 auto;
  }
  
  .carousel__image {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }
  
  .carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 1rem 2rem;
  }
  
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
  }
  
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(var(--fs-400), 1rem + 0.8vw, var(--fs-500));
  }

  .carousel__slide h1 {
    margin-top: 1vw;
  }
  
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .carousel__button--left {
    left: calc((2rem + 2vw) * -1);
  }
  
  .carousel__button--right {
    right: calc((2rem + 2vw) * -1);
  }
  
  .carousel__button img {
    width: calc(1.5rem + 2vw);
  }
  
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .carousel__indicator {
    border: 0;
    background-color: rgba(0, 0, 0, .3);
    margin: 0 1vw;
    cursor: pointer;
  }
  
  .carousel__indicator.current-slide {
    background-color: rgba(0, 0, 0, .75);
  }
  
  .carousel__is-hidden {
    display: none;
  }