@tailwind base;
@tailwind components;
@tailwind utilities;

.show-menu {
    @apply h-full translate-x-0
}

.open-submenu-arrow {
  @apply -rotate-90
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
