@use '../abstracts/'as a;

.contacts {

    &__container {
        min-height: 75vh;
    }

    &__title {
        padding: 3rem;

        @include a.respond-to-decrease(medium) {
            padding-block: 1.5rem;
        }
    }

    &__contacts {
        padding-block: 4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;

        @include a.respond-to-decrease(medium) {
            padding-block: 2rem;
        }

        & img {
            max-width: 5rem;
            margin-block: 0.3rem;
        }
    }
}

.google-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    background-color: rgba(0 0 0 / 0.4);

    & img {
        z-index: 1;
        width: 80%;
        margin-bottom: 1rem;
    }
}