@use '../abstracts/'as a;

.materials {
    &__title {
        margin: 4rem 3rem;

        @include a.respond-to-decrease(small) {
            text-align: center;
        }
    }

    &__properties {
        text-align: center;

        &>div {
            justify-content: center;

            &>div {
                background-color: var(--clr-neutral-100);
                margin: 1.5rem;
                padding: 1.5rem;
                display: grid;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px 4px rgba(44, 41, 41, 0.3);

                &:is(:hover, :focus-visible) {
                    transition: 150ms ease-in;
                    scale: 1.02;
                }

                @include a.respond-to-decrease(small) {
                    margin: 0.5rem;
                }

                &>img {
                    margin-inline: auto;
                    width: 4rem;
                }

                &>p {
                    max-width: 20ch;
                    line-height: 1.3;
                }
            }
        }

        & .grid--2cols {
            @include a.respond-to-increase(medium) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        gap: 2rem;

        &--row {
            gap: 3rem;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: 81em) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 40em) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

}