.quality {
    &__grid {
        margin-block: 2rem;

        &--row {
            gap: 3rem;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: 81em) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 40em) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        & .image-card__container::after,
        & .image-card__container::before {
            content: unset; //Disables hover effect
        }


        & .long-text {
            transform: translateY(-3rem);
        }
    }
}