@use '../abstracts/'as a;

.textures {
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        & .carousel__indicator {
            border-radius: 50%;
            width: 2.5vw;
            aspect-ratio: 1;
        }

        & button>p,
        button>div {
            display: none;
        }
    }

    @include a.respond-to-increase(medium) {
        &__container {
            overflow-x: hidden;
            display: grid;
            grid-template-columns: 0.4fr 0.6fr;
            align-items: center;
            justify-content: center;
            margin-inline: auto;
            gap: 3rem;

            & .carousel__container {
                border: 3px solid black;
            }

            & .carousel__slide {
                margin-top: 2vw;
            }

            & .carousel__nav {
                gap: 0;
            }

            & .carousel__indicator {
                padding: 2rem 1.5rem;
                display: inline-flex;
                align-items: center;
                color: var(--clr-neutral-700);
                font-size: var(--fs-400);
                font-family: Alata;
                border-radius: 0 !important;
                width: 140%;
                height: 2.4rem;
                aspect-ratio: unset;

                &:nth-of-type(even){
                    background-color: var(--clr-neutral-200);
                }

                &:nth-of-type(odd){
                    background-color: var(--clr-neutral-300);
                }

                & p,
                div {
                    display: block;
                    margin-inline: 0.5rem;
                }

                &.current-slide {
                    color: var(--clr-neutral-100);
                    background: hsla(0, 0%, 0%, 0.5) var(--url);
                    background-blend-mode: darken;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }

            & button img {
                display: none;
            }
        }




        &__nav {
            &>div {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }

    }

}