@use '../abstracts/'as a;

@for $cont from 1 through 3 {
    /* .cta__section:nth-of-type(#{$cont}) {
        &>.cta__container::before {
            content: ""+ $cont;
            position: absolute;
            top: 5%;
            left: 5%;
            color: hsla(354 99% 38% / 0.3);
            font-family: Libre-Baskerville;
            font-size: 14rem;
            z-index: -1;
        }
    } */

    .cta__section:nth-of-type(#{$cont}) {
        &>.cta__container::before {
            content: "~";
            position: absolute;
            top: 1vw;
            left: 5%;
            line-height: 0.2;
            color: hsla(354 99% 38% / 0.3);
            font-family: Libre-Baskerville;
            font-size: 20vw;
            z-index: -1;
        }
    }
}

.cta {

    &__section {
        position: relative;
        z-index: 100;
        width: 100%;
    }

    &__container {
        margin-inline: auto;
        padding: 5% 8%;
        max-width: 90rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        position: relative;



        @include a.respond-to-decrease(small) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: unset;
            border: 2px solid black;
        }
    }

    &__image {
        grid-column: 1 / 5;
        grid-row: 1 / -1;
        /* This is just to fix the annoying 1px left when screen shrinks */
        width: 99%;
        height: 99%;
        margin-inline: auto;
        padding: 2rem;
        border: 3px solid black;

        @include a.respond-to-decrease(small) {
            grid-row: 1 / 1;
            border: 0;
            padding: 0;
        }
    }

    &__text-container {
        padding: 3vh 4vw 1vw 3vw;
        grid-column: 3 / -1;
        grid-row: 2 / -1;
        display: grid;
        align-items: center;

        @include a.respond-to-decrease(small) {
            grid-row: 2 / -1;
            padding: 0 1vw;
        }
    }

    &__title {
        text-transform: uppercase;
        /* border: 2px solid var(--clr-neutral-700);
        text-align: center; */
        padding-block: 1.5rem;
        font-size: var(--fs-600);

        @include a.respond-to-decrease(small) {
            text-align: center;
        }

    }

    &__text {
        padding-block: 3vh;
        line-height: 1.5;
        max-width: 40ch;
        color: var(--clr-neutral-500);
        font-size: var(--fs-400);
    }

    &__button-container {
        display: flex;
        justify-content: end;
    }


}


.cta--inverted {

    .cta__container {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

        &::before {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .cta__text-container>div {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

}