@font-face {
    font-family: Alata;
    src: url(../../fonts/Alata/Alata-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Libre-Baskerville;
    src: url(../../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}