@use '../abstracts/'as a;

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-300);
}

.ff-primary {
    font-family: Alata;
}

.letters-spaced {
    @include a.respond-to-increase(large) {
        letter-spacing: 5px;
    }
}

@each $color,
$shades in a.$colors {

    @each $shade,
    $value in $shades {
        .text-#{$color}-#{$shade} {
            color: $value;
        }

        .bg-#{$color}-#{$shade} {
            background-color: $value;
        }
    }
}

@each $font-size,
$sizes in a.$font-sizes {

    // Just to do it once 
    @if $font-size==small {

        @each $size,
        $value in $sizes {
            .fs-#{$size} {
                font-size: var(--fs-#{$size});
            }
        }

    }
}

@each $font-weight,
$weight in a.$font-weights {
    .fw-#{$font-weight} {
        font-weight: $weight;
    }
}

.title-wrapper {
    display: flex;
    justify-content: center;
    padding-inline: 2rem;
    margin-block: 2rem;
    text-align: left;
}

.title {
    text-transform: uppercase;
    position: relative;
    z-index: 2000;
    font-size: clamp(var(--fs-600), 1rem + 6vw, var(--fs-700));
    padding: 1rem;
    border: 3px solid black;
    background-color:  hsla(354 99% 38% / 0.4);

    /* &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 80%;
        left: -5%;
        background-color: hsla(354 99% 38% / 0.6);
        width: 110%;
        height: 0.8rem;
    } */
}