$colors: (
    primary: (
        100: hsl(354, 99%, 38%),
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(248, 25%, 94%),
        300: hsl(176, 15%, 81%),
        400: hsl(207, 5%, 66%),
        500: hsl(0, 2%, 35%),
        600: hsl(120, 10%, 8%),
        700: hsl(0, 0%, 0%),
    ),
);